<div class="container mt-5">
  <h1>Edit task</h1>

  <%= simple_form_for(@car) do |f| %>
  <%= f.input :brand_model %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.input :category, collection: Car::CATEGORIES, include_blank: false, include_hidden: false %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>

  <hr>
  <%= link_to car_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
