<h1>Create a new Car</h1>

<%= simple_form_for(@car) do |f| %>
  <%= f.input :brand_model %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.input :category, collection: Car::CATEGORIES%>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>

