<h1><%= @car.brand_model %></h1>
<% @car.photos.each do |photo| %><br>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %><br>
<strong> Price:  <%= @car.price %> </strong><br>
<small class="text-muted">Description: <%= @car.description %></small>
<%# <small class="text-right flex-shrink-0"><%= link_to "delete", car_path(car), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{car.brand_model}"}, class: 'text-danger' %>
<%= link_to "Back to Cars list", cars_path %>
