<div>
  <%= link_to "Back to Search results", cars_path, class: "back-button bg-info p-3 mt-3 d-inline-block" %>
  <h2 class="mt-3 p-2"><strong>Your Deal</strong></h2>
  <h3 class="brand-model mt-3"><%= @car.brand_model %></h3>
  <% @car.photos.each do |photo| %><br>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %><br>
  <h4 class="price mt-3"><strong> Price:  <%= @car.price %> </strong><br></h4>
  <div class="row mb-3">

    <div class="col-12 col-lg-8">
      <p><small class="text-muted">Description: <%= @car.description %></small></p>
    </div>

    <div class="col-12 col-lg-4">
      <form class="search-form">
        <div class="row p-3 rounded">

          <div class="form-floating col-6 col-lg-12 mb-lg-2">
            <label for="pickUpInput">Pick-up Date</label>
            <input type="date" class="form-control mb-2 mb-lg-0" placeholder="Test" id="pickUpInput">
          </div>

          <div class="form-floating col-6 col-lg-12 mb-lg-2">
            <label for="dropOffInput">Drop-off Date</label>
            <input type="date" placeholder="test" class="form-control mb-2 mb-lg-0" id="dropOffInput">
          </div>

          <div class="col-12 col-lg-12">
            <button type="submit" class="btn btn-primary mb-2 mb-lg-0 w-100">Rent</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%# <form action="https://airbnb-tantovanwijhe.herokuapp.com/">
    <button type="submit" class="btn btn-primary mb-2 mb-lg-0 w-100">Rent this car</button>
  </form> %>
</div>
